.fade-and-slide-enter .transition-root {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-and-slide-enter-active .transition-root {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s ease-out, transform 1s ease-in-out;
}
.fade-and-slide-exit .transition-root {
  opacity: 1;
  transform: translateX(0%);
}
.fade-and-slide-exit-active .transition-root {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-in-out;
}
